hr {
  border: none;
  background: rgb(206, 205, 205);
  height: 2px;
}
#main {
  margin-top: 30px;
}
#movies {
  width: 100%;
}
#movies > div {
  display: flex;
  width: 100%;
}
#movies > div > div:first-child {
  width: 50%;
  float: left;
}
#movies > div > div:last-child {
  width: 50%;
  float: right;
}
#page_buttons {
  margin-top: 3px;
}
.backdrop_img {
  max-width: 60%;
  min-width: 150px;
  height: auto;
  padding-left: 20px;
  padding-top: 55px;
}
.movie_info > * {
  display: flex;
  margin-bottom: 8px;
}
.movie_info > img {
  max-width: 30%;
  min-width: 100px;
  height: auto;
}
.page_btn {
  margin-right: 2px;
}
.hidden {
  display: none;
}
