* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
#header {
  text-align: center;
}
#nav {
  background-color: black;
  overflow: hidden;
}
#nav a {
  color: white;
  padding: 15px;
  display: block;
  float: left;
}
#nav a:hover {
  background-color: white;
  color: black;
}
.content_styles {
  background-color: gainsboro;
  padding: 15px;
  margin-top: 25px;
}
#content img {
  width: 200px;
  height: 150px;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-right: 5px;
}
#content_left {
  width: 70%;
  float: left;
}
#content_right {
  width: 30%;
  float: right;
}
#footer {
  text-align: center;
}
